body {
  text-align: center;
}

.container {
  cursor: pointer;
  margin: 0px 50%;
}

.top,
.mid,
.bot {
  width: 100px;
  height: 10px;
  background-color: black;
  margin: 5px 0px;
  transition: 0.5s;
}

.change .top {
  transform: rotate(-45deg) translate(-12px, 13px);
}

.change .mid {
  opacity: 0;
}

.change .bot {
  transform: rotate(45deg) translate(-8px, -8px);
}
