body {
  margin: 0px;
}
#tabBar {
  background-color: gray;
  display: flex;
  height: 30px;
}

.city {
  padding: 0px 10px;
  cursor: pointer;
}

.city:hover {
  background-color: black;
  color: white;
}

.l,
.p,
.t {
  display: none;
}
