@import "reset.css";
body {
  background-color: black;
  color: white;
  width: 100%;
}

.navBar {
  background-color: brown;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
.icon {
  display: none;
}

.navBar div {
  float: left;
  padding: 14px 16px;
}
.navBar div:hover {
  background-color: green;
}

@media screen and (max-width: 800px) {
  .navBar .section:not(:first-child) {
    display: none;
  }
  .navBar .icon {
    display: block;
    position: fixed;
    bottom: 0px;
    right: 0px;
  }
  .navBar.hidden .section {
    display: block;
    width: 100%;
  }
}
