body {
  background-color: black;
  color: white;
  width: 100%;
}

#nav {
  background-color: gray;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
#nav div {
  float: left;
  padding: 14px 16px;
  cursor: pointer;
}
#nav div:hover {
  background-color: red;
}
#nav #icon {
  display: none;
}

@media screen and (max-width: 500px) {
  body {
    background-color: green;
  }

  #nav div:first-child {
    width: 100%;
    text-align: center;
  }
  #nav div:not(:first-child) {
    display: none;
  }

  #nav #icon {
    position: absolute;
    right: 9px;
    bottom: 10px;
    font-size: 20px;
    color: white;
    display: block;
    cursor: pointer;
  }

  #nav.ract div {
    width: 100%;
    text-align: center;
    display: block;
  }
}
