@import "reset.css";

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: red;
}
/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
